.FooterSection {
    width: 100%;
    padding: 5rem 0;
    background-color: rgba(var(--color-almostWhite), 1);
    color: rgba(var(--color-almostBlack), 0.65);
}

.FooterWrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    max-width: 1600px;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
}

.FooterColumn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.MainFormContactItem {
    display: flex;
    max-width: max-content;
    align-items: center;
    gap: 0.5rem;
}

.MainFormNavSocial {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
}

.MainFormContactItem {
    color: rgba(var(--color-highBlue), 1);
}

.FooterNavWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
}

.FooterCNPJ {
    width: 100%;
    display: flex;
    border-top: 1px solid rgba(var(--color-almostBlack), 0.15);
    text-align: center;
    margin: 5rem 0;
    padding: 1rem 0;
}

.FooterCNPJ p {
    margin: 0 auto;
}

.FooterLogos {
    display: flex;
    gap: 2rem;
    align-items: center;
}

@media (min-width:1200px) {

    .FooterWrapper,
    .FooterNavWrapper {
        flex-direction: row;
        gap: 10rem;
    }
}