/* FormInput.module.css */
.formInput {
    margin-bottom: 1rem;
}

.label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-family: var(--font-RedHat);
}

.input {
    width: 100%;
    padding: 1rem;
    background-color: rgba(var(--color-darkBlue), 0.1);
    border: 1px solid rgba(var(--color-lightestBlue), 0.1);
    border-radius: 0.5rem;
    color: rgba(var(--color-almostWhite), 0.65);
    font-size: 0.8rem;
}

.input:hover {
    border: 1px solid rgba(var(--color-lightestBlue), 0.25);
    background-color: rgba(var(--color-lightestBlue), 0.05);
}

.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.4rem;
}

/* Light theme */
.light {
    margin-bottom: 1rem;
}

.label_light {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-family: var(--font-RedHat);
    color: rgba(var(--color-almostBlack), 0.5);
}

.input_light {
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: rgba(var(--color-almostWhite), 1);
    border: none;
    border-bottom: 1px solid rgba(var(--color-isoartGold), 0.50);
    border-radius: 0;
    color: rgba(var(--color-almostBlack), 0.75);
    font-size: 0.8rem;
    transition: all 0.2s ease;
}

.input_light:hover {
    border-bottom: 1px solid rgba(var(--color-isoartGold), 1);
}

.input_light:focus {
    outline: none;
    border-bottom: 1px solid rgba(var(--color-isoartGold), 0.75);
    background-color: rgba(var(--color-isoartGold), 0.25);
    border-radius: 0;
}

.error_light {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.4rem;
}