.benefits-section {
    width: 100%;
    background-color: rgba(241, 244, 247, 1);
    color: rgba(17, 17, 17, 1);
    padding: 5rem 0;
}

.benefits-wrapper {
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 5rem;
    max-width: 1600px;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.benefits-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.25rem;
}

.benefits-card h5 {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(24, 74, 100, 1);
}

.benefit-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: max-content;
    margin-bottom: 1rem;
    color: rgba(146, 151, 120, 0.5);
}