/* Hero Section */
.product-page-hero-section {
    background-color: rgba(241, 244, 247, 1);
    width: 100%;
    padding: 10rem 0 5rem 0;
    color: rgba(17, 17, 17, 1);
    height: 140vw;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.product-page-hero-mask {
    content: '';
    background-color: rgba(17, 17, 17, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 4;
}

.product-page-hero-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
    gap: 2rem;
    position: relative;
    z-index: 5;
    color: rgba(241, 244, 247, 1);
}

.product-page-hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
}

.product-page-hero-content p {
    font-size: 1.2rem;
    line-height: 1.4;
    max-width: 600px;
}

.product-page {
    min-height: 100vh;
    background-color: rgba(241, 244, 247, 1);
}

.product-page-description-section {
    width: 100%;
    padding: 5rem 0 0 0;
}

.product-page-description-wrapper {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    color: rgba(17, 17, 17, 0.75);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-page-carousel-section {
    width: 100%;
}

.product-page-carousel-carousel-wrapper {
    display: flex;
    width: 90%;
    margin: 0 auto;
    max-width: 1600px;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
}

.benefits-section {
    width: 100%;
    background-color: rgba(241, 244, 247, 1);
    padding: 5rem 0;
}

.benefits-wrapper {
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    max-width: 1600px;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.benefits-card {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.25rem;
}

.general-characteristics-section {
    background-color: rgba(223, 226, 230, 1);
    width: 100%;
    padding: 5rem 0;
}

.general-characteristics-wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.general-characteristics-wrapper h3 {
    color: rgba(146, 151, 120, 1);
    margin-top: 3rem;
}

.general-characteristics-wrapper img {
    overflow: hidden;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27.5rem, 1fr));
    gap: 1rem;
}

.feature span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5rem;
    border-radius: 100%;
    color: rgba(241, 244, 247, 0.75);
    background-color: rgba(146, 151, 120, 1);
}

.feature {
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: rgba(251, 251, 251, 0.25);
    border: 1px solid rgba(146, 151, 120, 0.25);
    padding: 2rem;
    border-radius: 0.2rem;
}

.feature p {
    color: rgba(17, 17, 17, 0.65);
}

.characteristic-item {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border: 1px solid rgba(251, 251, 251, 1);
    border-radius: 0.4rem;
    color: rgba(17, 17, 17, 0.75);
    background-color: rgba(251, 251, 251, 0.1);
}

.characteristic-item span {
    color: rgba(241, 244, 247, 1);
}

.applications-section {
    background-color: rgba(241, 244, 247, 1);
    width: 100%;
    padding: 5rem 0;
    overflow: hidden;
}

.applications-wrapper {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: rgba(17, 17, 17, 0.75);
    gap: 2rem;
}

.application-cards {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}

.application-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    border-radius: 0.2rem;
    width: 100%;
    background-color: rgba(251, 251, 251, 1);
    border: 1px solid rgba(146, 151, 120, 0.1);
}

.img-placeholder {
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 50rem;
    margin: 0 auto;
    max-width: 1600px;
    justify-content: center;
}

.img-placeholder img {
    width: 100%;
    height: auto;
    border-radius: 0.2rem;
}

@media (min-width: 800px) and (max-width: 1199px) {
    .product-page-hero-section {
        height: 50vw;
    }
}

@media (min-width: 1200px) {
    .product-page-hero-section {
        height: 35vw;
        min-height: 40rem;
    }

    .benefits-wrapper {
        flex-direction: row;
    }
}