/* ======================================================== */
/* Container Principal dos Navegadores                      */
/* ======================================================== */

.navContainer {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

/* ======================================================== */
/* Navegador Institucional                                  */
/* ======================================================== */

.institutionalNavSection {
    width: 100%;
    display: none;
    padding: 1rem 0;
}

.institutionalNavWrapper {
    width: 90%;
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 0.25rem;
    background-color: rgba(var(--color-almostBlack), 0.50);
    backdrop-filter: blur(1rem);
    padding: 0.5rem 1rem;
    font-family: var(--font-RedHat);
    -webkit-backdrop-filter: blur(1rem);
}

.institutionalNavMessage {
    display: flex;
    align-items: center;
}

.institutionalNavItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.institutionalNavItems ul li a {
    font-size: 0.75rem;
    color: rgba(var(--color-almostWhite), 0.5);
    font-weight: 500;
}

.institutionalNavItems ul li a:hover {
    color: rgba(var(--color-almostWhite), 1);
}

.institutionalNavWrapper ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.institutionalNavSocial {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.institutionalNavSocial svg {
    color: rgba(var(--color-almostWhite), 0.5);
    padding: 1rem;
    border-radius: 100%;
}

/* ======================================================= */
/* Main Nav                                                */
/* ======================================================= */

.MainNavSection {
    width: 100%;
}

.MainNavWrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 90%;
    max-width: 1600px;
    height: max-content;
    margin: 0 auto;
    margin-top: 1rem;
    gap: 2rem;
    align-items: center;
    border-radius: 0.25rem;
    background-color: rgba(var(--color-almostWhite), 0.75);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
}

.MainNavContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.MainNavLinks,
.MainNavButton {
    display: none;
}

.MainNavLinks ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.MainNavLinks ul li {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: max-content;
    height: 100%;
}

.MainNavLinks a {
    color: rgba(var(--color-almostBlack), 1);
    display: flex;
}

.navLinkUnderline {
    height: 1px;
    width: 0%;
    background-color: rgba(var(--color-almostBlack), 1);
}

.MainNavLinks ul li:hover .navLinkUnderline {
    width: 100%;
}

.MainNavLinks ul li:hover .SubMenuCategorias {
    display: flex;
}

.MainNavMenuIcon {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: rgba(var(--color-isoartBlue), 0.8);
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.MainNavMenuIcon:hover {
    background-color: rgba(var(--color-isoartBlue), 1);
}

.SubMenuCategorias {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.SubMenuItem {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.SubMenuItem a {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.4rem;
    background-color: rgba(var(--color-almostWhite), 0.150);
    border: 1px solid rgba(var(--color-almostWhite), 0.25);
    color: rgba(var(--color-almostBlack), 0.50);
    line-height: 1.2;
}

.SubMenuItem img {
    border-radius: 0.2rem;
}

.SubMenuItem a:hover {
    background-color: rgba(var(--color-almostWhite), 0.25);
    border: 1px solid rgba(var(--color-almostWhite), 0.45);
    color: rgba(var(--color-almostBlack), 1);
}

@media (min-width:1200px) {

    .institutionalNavSection {
        display: block;
    }

    .MainNavWrapper {
        margin-top: 0;
    }

    .MainNavLinks,
    .MainNavButton {
        display: block;
    }

    .MainNavMenuIcon {
        display: none;
    }
}