.MainFormSection {
    background-color: rgba(var(--color-darkBlue), 1);
    width: 100%;
    padding: 5rem 0;
}

.MainFormWrapper {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.MainFormHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.MainFormHeaderContainer {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;
    align-items: flex-start;
    padding: 0.5rem 0;
    justify-content: right;
}

.MainFormContactItem a {
    max-width: max-content;
    display: flex;
    align-items: center;
    height: max-content;
    gap: 0.5rem;
}

.MainFormContactItem a:hover {
    color: rgba(var(--color-lightestBlue), 1);
}

.MainFormContactItem a:hover svg {
    color: rgba(var(--color-almostWhite), 1);
}

.MainFormContactItem svg {
    color: rgba(var(--color-lightestBlue), 1);
}

.MainFormHeader h4 {
    font-family: var(--font-RedHat);
    color: rgba(var(--color-lightestBlue), 1);
    width: 100%;
}

.MainForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.MainFormContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.cadastroForm {
    width: 100%;
    padding: 2rem;
    border-radius: 0.4rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--color-almostWhite), 0.02);
    border: 1px solid rgba(var(--color-lightestBlue), 0.1);
}

.MainFormContainer img {
    border-radius: 0.2rem;
    overflow: hidden;
}

.MainFormContainer h3 {
    color: rgba(var(--color-lightestBlue), 1);
    font-size: 1.2rem;
    padding: 0.5rem 0;
}

.MainFormLocationsListItem {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
    padding: 1rem;
    border-radius: 0.4rem;
    background-color: rgba(var(--color-almostWhite), 0.02);
    border: 1px solid rgba(var(--color-lightestBlue), 0.1);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    height: 100%;
}

@media (min-width:1200px) {

    .MainFormHeader,
    .MainFormHeaderContainer,
    .MainFormContainer,
    .MainFormLocationsList {
        flex-direction: row;
    }

    .cadastroForm {
        width: 40%;
    }

    .MainFormLocationsListItem {
        width: 20%;
        height: 100%;
    }
}