.sobre-empresa-section {
    background-color: rgba(24, 74, 100, 1);
    padding: 5rem 0;
    width: 100%;
}

.sobre-empresa-wrapper {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    /* Fallback Flexbox para Android antigo */
    display: flex;
    flex-direction: column;
    gap: 5rem;
    
    /* Grid principal para Android 7.0+ */
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
}

.sobre-empresa-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: rgba(241, 244, 247, 0.75);
}