.btn-wrapper {
    width: max-content;
}

.button {
    border-radius: 0.2rem;
    font-weight: 500;
    font-family: var(--font-redhat);
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    gap: 0.5rem;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    background-color: rgba(24, 74, 100, 0.85);
    transition: all 0.3s ease;
}

.button.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

/* Variants */
.primary {
    background-color: rgba(24, 74, 100, 0.85);
    border: 1px solid rgba(24, 74, 100, 0.85);
    color: rgba(241, 244, 247, 0.8);
}

.primary:hover:not(.disabled) {
    background-color: rgba(24, 74, 100, 1);
    border: 1px solid rgba(25, 129, 176, 0.5);
    color: rgba(241, 244, 247, 1);
}

.secondary {
    background-color: rgba(24, 74, 100, 0);
    border: 1px solid rgba(24, 74, 100, 0.85);
    color: rgba(241, 244, 247, 0.8);
}

.secondary:hover:not(.disabled) {
    background-color: rgba(25, 129, 176, 0.1);
    border: 1px solid rgba(25, 129, 176, 0.25);
    color: rgba(241, 244, 247, 1);
}

.white {
    background-color: rgba(241, 244, 247, 0.85);
    border: 1px solid rgba(241, 244, 247, 0.95);
    color: rgba(17, 17, 17, 0.85);
}

.white:hover {
    background-color: rgba(17, 17, 17, 1);
    border: 1px solid rgba(17, 17, 17, 0.5);
    color: rgba(241, 244, 247, 1);
}

.light-blue {
    background-color: rgba(95, 129, 176, 0.90);
    border: 1px solid rgba(95, 129, 176, 0.95);
    color: rgba(241, 244, 247, 0.85);
}

.light-blue:hover {
    background-color: rgba(95, 129, 176, 1);
    color: rgba(241, 244, 247, 1);
}

.gold-border {
    background-color: rgba(146, 151, 120, 0);
    border: 1px solid rgba(146, 151, 120, 0.50);
    color: rgba(17, 17, 17, 0.75);
}

.gold-border:hover:not(.disabled) {
    background-color: rgba(146, 151, 120, 0.25);
    color: rgba(17, 17, 17, 1);
}

.gold-border:active:not(.disabled) {
    background-color: rgba(24, 74, 100, 1);
    border: 1px solid rgba(146, 151, 120, 0);
    color: rgba(241, 244, 247, 1);
}

/* Sizes */
.small {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    height: 2rem;
    display: flex;
    align-items: center;
}

.medium {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    height: 3rem;
    display: flex;
    align-items: center;
}

.large {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    height: 4rem;
    display: flex;
    align-items: center;
}

.full-width {
    width: 100%;
    display: flex;
    align-items: center;
}