.carrossel-clientes-section {
    width: 100%;
    background-color: rgba(16, 46, 65, 1);
    padding: 0 0 10rem 0;
}

.carrossel-clientes-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    color: rgba(241, 244, 247, 0.75);
}

.carrossel-clientes-wrapper ul {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}