.carrossel-clientes-section {
    width: 100%;
    padding: 5rem 0;
    background-color: rgba(241, 244, 247, 1);
}

.carrossel-clientes-wrapper {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.carrossel-clientes-wrapper p {
    color: rgba(17, 17, 17, 1);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
    font-family: var(--font-redhat);
}

.parceiros-carousel-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/* Responsividade */
@media (min-width: 768px) {
    .carrossel-clientes-wrapper p {
        font-size: 1.75rem;
    }
}

@media (min-width: 1200px) {
    .carrossel-clientes-wrapper p {
        font-size: 2rem;
    }
    
    .parceiros-carousel-container {
        max-width: 1000px;
    }
}