.button {
    border-radius: 0.2rem;
    font-weight: 500;
    font-family: var(--font-RedHat);
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    border: none;
    gap: 0.5rem;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    --button-background: rgba(var(--color-isoartBlue), 0.8);
    /* Default background */
    background-color: var(--button-background);
    /* Use variable */
}

.button.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

/* Variants */
.primary {
    --button-background: rgba(var(--color-isoartBlue), 0.8);
    /* Default for primary */
    border: 1px solid rgba(var(--color-isoartBlue), 0.9);
    color: rgba(var(--color-stubbornBlack), 0.8);
}

.primary:hover:not(disabled) {
    --button-background: rgba(var(--color-isoartBlue), 1);
    border: 1px solid rgba(var(--color-isoartBlue), 1);
    color: rgba(var(--color-stubbornBlack), 1);
}

.secondary {
    --button-background: rgba(var(--color-highBlue), 0);
    border: 1px solid rgba(var(--color-highBlue), 0.85);
    color: rgba(var(--color-almostWhite), 0.8);
}

.secondary:hover:not(disabled) {
    --button-background: rgba(var(--color-highBlue), 0.1);
    border: 1px solid rgba(var(--color-highBlue), 0.25);
    color: rgba(var(--color-almostWhite), 1);
}

.white {
    --button-background: rgba(var(--color-almostWhite), 0.85);
    border: 1px solid rgba(var(--color-almostWhite), 0.95);
    color: rgba(var(--color-almostBlack), 0.85);
}

.white:hover {
    --button-background: rgba(var(--color-almostBlack), 1);
    border: 1px solid rgba(var(--color-almostBlack), 0.5);
    color: rgba(var(--color-almostWhite), 1);
}

.lightBlue {
    --button-background: rgba(var(--color-highBlue), 0.90);
    border: 1px solid rgba(var(--color-highBlue), 0.95);
    color: rgba(var(--color-almostWhite), 0.85);
}

/* Sizes */
.small {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    height: 2rem;
    display: flex;
    align-items: center;
}

.medium {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    height: 3rem;
    display: flex;
    align-items: center;
}

.large {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    height: 4rem;
    display: flex;
    align-items: center;
}

.fullWidth {
    width: 100%;
    display: flex;
    align-items: center;
}