.solucoes-grid-section {
    width: 100%;
    padding: 10rem 0;
    background-color: rgba(241, 244, 247, 1);
    background-color: rgba(var(--color-almost-white), 1);
    position: relative;
    overflow: hidden;
}

.solucoes-grid-wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.solucoes-grid-header {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    color: rgba(17, 17, 17, 1);
    color: rgba(var(--color-almost-black), 1);
}

.solucoes-grid-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    height: auto;
}

.solucoes-grid-card {
    position: relative;
    border-radius: 0.2rem;
    overflow: hidden;
    height: 40rem;
    cursor: pointer;
}

.solucoes-grid-card:hover .solucoes-grid-card-container {
    height: 50%;
    
}

.solucoes-grid-card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.solucoes-grid-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 2;
}

.solucoes-grid-card-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.3);
    background-color: rgba(var(--color-almost-black), 0.3);
    z-index: 3;
}

.solucoes-grid-card-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35%;
    z-index: 4;
    padding: 1.5rem;
    color: rgba(241, 244, 247, 1);
    color: rgba(var(--color-almost-white), 1);
    background: linear-gradient(180deg, rgba(241, 244, 247, 0.1) 50%, rgba(146, 151, 120, 1) 100%);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
}

.solucoes-grid-card-container h5 {
    margin-bottom: 0.5rem;
}

/* Desktop */
@media (min-width: 1200px) {

    .solucoes-grid-card {
        height: 40rem;
    }

    .solucoes-grid-card:nth-child(4),
    .solucoes-grid-card:nth-child(5) {
        grid-column: span 1;
    }

    .solucoes-grid-header {
        grid-template-columns: 30% 60%;
        justify-content: space-between;
        align-items: flex-start;
        gap: 0;
    }
}